
#detail-section{
	padding-top: 100px;
}





#detail-section h2{
	color: #011339;
	display: inline-block;
	position: relative;
}

#detail-section h2 span{
	font-weight: 200;
}

#detail-section h2:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
	background: #d80d13;
	left: 33.33%;
	width: 33.33%;
	height: 3px;
}




.box-tel{
	font-size: 25px;
	line-height: 34px;
	display: inline-block;
	padding: 15px 50px;
	border-radius: 75px;
	color: #011339;
	border: 2px solid #011339;
}

.box-tel:hover{
	background: #011339;
	color: #ffffff;
	border: 2px solid #011339;
}









.item-detail{
	text-align: center;
	margin-bottom: 40px;
}
.item-detail .img-detail{
	background: #f5f5f5;
	position: relative;
}
.item-detail .img-detail .img-detail-img{
	opacity: 0.5!important;
	position: relative;
}
.item-detail:hover .img-detail .img-detail-img{
	opacity: 1!important;
}

.item-detail .img-detail .icon-detail{
	position: absolute;
	padding-top: 15%;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	background: linear-gradient(#f5f5f5,transparent);
	-webkit-transition: all 0.3s ease-in-out;
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.item-detail:hover .img-detail .icon-detail{
	opacity: 0!important;
	-webkit-transition: all 0.3s ease-in-out;
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.item-detail .img-detail .icon-detail img{
	
	border: 2px solid #011339;
	border-radius: 100%;
	padding: 15px;
}


.item-detail .text-detail{
	position: relative;
	padding: 15px;
	min-height: 80px;
	background: #011339;
	-webkit-transition: all 0.3s ease-in-out;
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.item-detail .text-detail:before {
	content: '';
	position: absolute;
	bottom: -30%;
	left: 45%;
	right: 45%;
	width: 50px;
	height: 50px;
	z-index: -1;
	background: #011339;
	transform: rotate(45deg);
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.item-detail .text-detail h4{
	margin-bottom: 0px;
	color: #ffffff;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

#detail-section .col-lg-4:nth-child(odd) .item-detail .text-detail{
	background: #d80d13;
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#detail-section .col-lg-4:nth-child(even) .item-detail .text-detail{
	background: #011339;
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


#detail-section .col-lg-4:nth-child(odd) .item-detail .text-detail:before {
	background: #d80d13;
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


#detail-section .col-lg-4:nth-child(even) .item-detail .text-detail:before {
	background: #011339;
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#detail-section .col-lg-4:nth-child(odd) .item-detail .img-detail .icon-detail img {
	border: 2px solid #d80d13;
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


#detail-section .col-lg-4:nth-child(even) .item-detail .img-detail .icon-detail img {
	border: 2px solid #011339;
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media (max-width: 992px) {

	#detail-section{
		padding-top: 50px;
	}





}

@media (min-width: 992px) {

	.box-tel{
		font-size: 40px;
		line-height: 44px;
		display: inline-block;
		padding: 25px 90px;
		border-radius: 75px;
		color: #011339;
		border: 2px solid #011339;
	}


	#detail-section h2{
		font-size: 40px;
		line-height: 44px;
	}



}